/*mobile op 320px*/

/*body/geheel*/

body {
  width: 100%;
  background-color: rgb(240, 224, 240);
  margin: 0px;
  padding: 0;
}

body img {
  border-radius: 1.5em;
}

.container {
  width: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 150px 100px auto 200px;
  grid-template-columns: 20px 1fr 20px;
  grid-template-areas:
    ". h ."
    ". n ."
    ". m ."
    ". f .";
}

/*header*/

.header {
  background-color: lightblue;
  grid-area: h;
  text-align: center;
  border: 5px dashed purple;
  border-radius: 30px;
}

/*headtitels*/

h1 {
  font-family: "Nerko One", cursive, sans-serif;
  font-size: 3em;
}

h2 {
  font-family: "Nerko One", cursive, sans-serif;
}

h5 {
  font-size: smaller;
}

/*navigatie_bar*/
.navigate {
  grid-area: n;
}

a {
  text-decoration: none;
}

.navigate ul {
  list-style-type: none;
  text-align: center;
  padding: 20px 20px;
}

.navigate ul li {
  display: inline;
  background-color: violet;
  text-decoration: none;
  font-size: 2em;
  border: 2px dashed black;
  border-radius: 0.5em;
  padding: 10px;
  font-size: 1em;
}

.navigate ul li a:link {
  font-weight: bold;
  color: rgba(241, 234, 171, 0.7);
  text-decoration: none;
}

.navigate ul li a:visited {
  color: rgb(57, 17, 143);
}

.navigate ul li a:hover {
  color: rgba(135, 78, 254, 0.8);
  border-bottom: 5px solid purple;
}

.navigate ul li a:active {
  background-color: purple;
}

/*main*/

.main {
  background-color: rgba(202, 207, 212, 0.637);
  grid-area: m;
  text-align: center;
  border: 5px dashed purple;
  border-radius: 30px;
  padding: 10px;
  margin: 0;
}

.list1 ul li {
  list-style-type: none;
  font-style: italic;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 p {
  padding: 20px;
  margin: 10px;
  margin-bottom: 25px;
  background: pink;
  line-height: 1.3em;
  border: 5px dashed purple;
  border-radius: 30px;
  box-shadow: 0 0 0 4px pink, 2px;
}
form {
  align-items: center;
  padding: 10px;
  margin: 50px 100px;
  margin-bottom: 20px;
  background: pink;
  border: 5px dashed purple;
  border-radius: 30px;
  box-shadow: 0 0 0 4px pink, 2px;
}

/*footer*/

.footer {
  background-color: lightblue;
  grid-area: f;
  text-align: center;
  border: 5px dashed purple;
  border-radius: 30px;
}

/*Desktop*/

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 200px 100px auto 100px;
    grid-template-columns: 80px 100px 1fr 20px;
    grid-template-areas:
      "h h h h"
      "n n m m"
      "n n m m"
      "f f f f";
  }

  .navigate ul li {
    display: block;
    font-size: 1.5em;
    float: none;
    margin: 2px;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  h5 {
    font-size: 1em;
  }

  .list1 ul li,
  p {
    font-size: 1.5em;
  }

  /*Eeyore's klaaghoekje*/

  .box1 {
    width: 400px;
    font-size: 2em;
    font-style: oblique;
    font-weight: bolder;
  }

  .box2 {
    width: 550px;
    font-size: 2em;
    font-style: italic;
    margin-left: 180px;
  }

  .box3 {
    width: 300;
    font-size: 2em;
    text-shadow: 4px 4px 6px #aaa, 6px 6px 3px #777;
    width: 300px;
    margin-left: 400px;
  }

  .box4 {
    width: 180px;
    font-size: 2em;
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .box5 {
    width: 350px;
    font-size: 2em;
    font-family: "Nerko One", cursive, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #aaa, 4px 4px 1px #777;
  }

  .box6 {
    font-size: 2em;
    width: 400px;
    font-family: "Sansita Swashed", cursive;
    margin-left: 300px;
  }

  .box7 {
    font-size: 2em;
    font-family: "Sansita Swashed", cursive;
    width: 300px;
  }

  .box8 {
    font-size: 2em;
    font-family: "Yellowtail", cursive;
    width: 150px;
    margin-left: 450px;
  }
}
